/* BEBAS */

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BEBAS___.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* MEgalopolisExtra */

@font-face {
    font-family: 'MEgalopolisExtra';
    src: url('../fonts/MEgalopolisExtra.otf');

}

/* NOBILE */

@font-face {
    font-family: 'Nobile';
    src: url('../fonts/nobile.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nobile';
    src: url('../fonts/nobile_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Nobile';
    src: url('../fonts/nobile_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Nobile';
    src: url('../fonts/nobile_bold_italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
