section#home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 1000;
}

section#home img#thescream {
    position: absolute;
    top: 50px;
    left: 100px;
}

section#home h1 {
    font-family: 'Bebas';
    font-size: 60pt;
    background: #325573;
    color: #FFFFFF;
    padding-left: 430px;
    padding-top: 150px;
    font-weight: normal;

}

section#home h2 {
    font-family: 'MEgalopolisExtra';
    font-size: 20pt;
    font-weight: normal;
    background: #FFFFFF;
    color: #325573;
    padding-left: 430px;
    padding-top: 5px;
}

section#home iframe#video {
    margin-left: 430px;
    margin-top: 30px;
    width: 560px;
    height: 315px;
}

section#home div#starttext {
    position: absolute;
    font-family: 'Bebas';
    left: 190px;
    top: 420px;
    background-color: #991523;
    color: #F2F2F2;
    padding: 10px 10px 0 10px;
}
section#home div#startarrow {
    position: absolute;
    left: 174px;
    top: 565px;
    border-color: #991523 transparent transparent transparent ;
    border-style:solid;
    border-width:50px 75px 0 75px;
    height: 0;
    width: 0;
}

section#home div#start {
    cursor: pointer;
}

div#credits {
    background: RGBa(242, 242, 242, 0.7);
    position: absolute;
    width: 145px;
    padding: 10px 20px 10px 20px;
    margin-top: 30px;
    margin-left: 1020px;
}
div#credits p:first-child {
    font-size: small;
}
div#credits p:last-child {
    font-size: small;
    text-align: center;
    padding-top: 5px;
}
div#credits a img {
    height: 83px;
    float: left;
    padding-right: 5px;
    margin-left: -5px;
}
div#credits a {
    text-decoration: none;
    font-family: 'Bebas';
    color: #325573;
    word-spacing: 3px;
    font-size: normal;
}
div#credits a:hover {
    color: #991523;
}
div#credits a#githublink {
    display: block;
}