section#settings {
    position: absolute;
    top: 0;
    left: -980px;
    height: 100%;
    width: 800px;
    background: #325573;    
    color: #FFFFFF;
    z-index: 1000;
}

section#settings h1 {
    font-family: 'Bebas';
    font-size: 50pt;
    color: #FFFFFF;
    padding-left: 100px;
    padding-top: 70px;
}

table#save-restore {
    font-family: 'NobileItalic';
    font-size: small;
    font-weight: normal;
    color: #FFFFFF;
    float: right;
    padding-top: 2em;
    padding-right: 2em;
}
table#save-restore td:nth-child(1) {
    text-align: right;
    line-height: 100%;
}
table#save-restore td:nth-child(4) {
    text-align: left;
    line-height: 100%;
}
table#save-restore td:nth-child(2) {
    padding-right: 0.5em;
}
table#save-restore td:nth-child(3) {
    padding-left: 0.3em;
}
table#save-restore img {
    width: 40px;
}
table#save-restore input#stateinput {
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 0px;
}

h2 {
    font-family: 'MEgalopolisExtra';
    font-size: 20pt;
    background: #FFFFFF;
    color: #325573;
    padding-top: 5px;
}

select {
	-webkit-appearance: none;
	border: 0px;
	border-radius: 0px;
	padding: 2px 7px 2px 7px;
	text-align: center;
    background-color: #F2F2F2;
	color: #325573;
}

input {
	border: none;
	background-color: #F2F2F2;
	padding: 4px 5px 3px 5px;
	color: #325573;
	font-family: 'NobileRegular';
	font-size: smaller;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#go {
    position: absolute;
    top: 0px;
    left: 800px;
    height: 100%;
    width: 170px;
    background: RGBa(242, 242, 242, 0.7);
    font-family: 'Bebas';
    font-size: 70pt;
    text-align:right;

    color: #325573;    
}

div#go div{
    padding-right: 20px;
    padding-top: 110px;
}

div#go:hover {
    cursor: pointer;
    background: RGBa(242, 242, 242, 0.9);
    color: #991523;    
}

img#lockratio{
    display: inline-block;
    vertical-align: top; 
    width: 15px; 
    cursor: pointer; 
    background-color: #F2F2F2; 
    padding: 4px;
    margin-left: px;
}